{% extends 'loggedin.html' %}

{% comment %} {% block title %}usa Application{% endblock %} {% endcomment %}

{% block middle %}
<h1 class="new_index1">Latest Update</h1>
<div class="step">
    <h2 class="new_index"></h2>
    <div class="sample-pics">
        <div class="pic">PIC</div>
    </div>
</div>
<div class="step">
    <h2 class="new_index">Latest Courses</h2>
    <div class="sample-pics">
        <div class="pic">PIC</div>
        <div class="pic">PIC</div>
        <div class="pic">PIC</div>
    </div>
</div>
{% endblock %}
