{% extends 'loggedin.html' %}

{% block title %}USA Application Process{% endblock %}

{% block middle %}

        <h1 class="new_index1">Application Process</h1>
        <div class="step">
            <h2 class="new_index">Step 1: Picture of citizenship and pasport</h2>
            <div class="sample-pics">
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
            </div>
            <div class="upload-section">
                <label for="transcript">Upload Here:</label>
                <input type="file" id="transcript" name="transcript">
                
            </div>
        </div>
        <div class="step">
            <h2 class="new_index">Step 2: Transcript with USEF Logo</h2>
            <div class="sample-pics">
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
            </div>
            <div class="upload-section">
                <label for="transcript">Upload Here:</label>
                <input type="file" id="transcript" name="transcript">
                
            </div>
        </div>
    
        <div class="step">
            <h2 class="new_index">Step 3: English Proficiency/IELTS Test Score</h2>
            <div class="sample-pics">
                <div class="pic">PIC</div>
            </div>
            <div class="upload-section">
                <label for="ielts">Upload Here:</label>
                <input type="file" id="ielts" name="ielts">
                
            </div>
        </div>
        <div class="step">
            <h2 class="new_index">Step 4: SOP</h2>
            <div class="sample-pics">
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
                <div class="pic">PIC</div>
            </div>
            <div class="upload-section">
                <label for="sop">Upload Here:</label>
                <input type="file" id="sop" name="sop">
               
            </div>
        </div>
        <div class="step">
            <h2 class="new_index">Step 5: Bank Balance</h2>
            <div class="sample-pics">
                <div class="pic">PIC</div>
            </div>
            <div class="upload-section">
                <label for="bank_balance">Upload Here:</label>
                <input type="file" id="bank_balance" name="bank_balance">
                
            </div>
        </div>

{% endblock %}